<!-- fills the rest of the height, is row and has columns stretched to full height -->

<!-- left most, full-height -->
<div *ngIf="!listCollapsed && selectedTunebook" class="col-lg-2 px-0 d-flex flex-column">

  <form #tunebookForm="ngForm">

    <div class="form-group my-0">

      <div [hidden]="title.valid || title.pristine" class="alert alert-danger my-0">
        Title is required
      </div>

      <div [hidden]="selectedTunebook.tunes.length > 0" class="alert alert-danger my-0">
        No Tunes
      </div>

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="tunebookTitleHelp">Title</span>
        </div>
        <input type="text" class="form-control" id="tunebookTitleInput" placeholder="Enter Tunebook Title"
          aria-describedby="tunebookTitleHelp" required name="title" [(ngModel)]="selectedTunebook.title" #title="ngModel">
      </div>

    </div>

    <button type="submit" class="btn btn-success btn-block" [disabled]="!tunebookForm.form.valid || selectedTunebook.tunes.length < 1"
      (click)="saveTunebook(selectedTunebook)">
      <i class="fas fa-save mr-2"></i>Save book
    </button>

    <button type="button" class="btn btn-block btn-info" (click)="createTune()">New Tune</button>

  </form>

  <ul class="list-group flex-grow-1" id="tunesList">
    <li *ngIf="selectedTunebook" class="list-group-item list-group-item-action list-group-item-dark" [class.active]="tunebookTune && tunebookTune === selectedTune"
      (click)="showTunebookTune()">
      Tunebook "{{ selectedTunebook.title }}"
    </li>



    <li class="list-group-item list-group-item-action" [class.active]="tune === selectedTune" *ngFor="let tune of selectedTunebook?.tunes"
      (click)="selectTune(tune)">
      <div class="d-flex flex-row">
        <div class="flex-grow-1 align-self-center">{{ tune.title }}</div>
        <button class="btn btn-danger" (click)="deleteTune(tune)"><i class="fas fa-trash-alt"></i></button>
      </div>
    </li>
  </ul>

</div>
<button class="btn btn-noBorder btn-light text-dark px-1" (click)="listCollapsed = listCollapsed ? false : true;">
  <i class="fas" [class.fa-angle-double-right]="listCollapsed" [class.fa-angle-double-left]="!listCollapsed"></i>
</button>

<!-- rest of width, full-height -->
<div class="flex-grow-1 d-flex">
  <app-tune [tune]="selectedTune"></app-tune>
</div>