<div *ngIf="tune; then tuneTemplate; else noTuneTemplate;"></div>

<ng-template #tuneTemplate>

  <div class="col-lg-3">
    <p>id: {{ tune.id }}</p>

    <button class="btn btn-outline-success" (click)="saveAbc()">Save</button>
    <button class="btn btn-outline-secondary" (click)="resetAbc()">Refresh</button>

    <ngx-codemirror #abcInputBox [options]="{ lineNumbers: true }" [(ngModel)]="currentAbcValue" (input)="onAbcInput(abcInputBox.value)"></ngx-codemirror>
  </div>
  <div class="col">
    <div id="abc-warnings"></div>
    <div id="abc-paper">
      <div class="text-center mt-5">
        <i class="fas fa-spinner fa-spin" style="font-size: 15vh;"></i>
      </div>
    </div>
  </div>

</ng-template>

<ng-template #noTuneTemplate>
  <div class="col">
    No Tune selected
  </div>
</ng-template>