<div [hidden]="tune" class="text-center mt-lg-5 mt-2">
  <p>No Tune selected</p>
</div>

<div class="col-lg-3 px-0" *ngIf="tune && edit">
  <button class="btn btn-success" (click)="saveAbc()"><i class="fas fa-save mr-2"></i>Save to Book</button>
  <button class="btn btn-secondary" (click)="resetAbc()"><i class="fas fa-redo mr-2"></i>Refresh from Book</button>

  <ngx-codemirror #abcInputBox [options]="{ lineNumbers: true }" [(ngModel)]="currentAbcValue"></ngx-codemirror>
</div>

<div [hidden]="!tune" class="col-lg p-0 flex-grow-1">

  <div class="d-flex flex-row mx-5 my-2 mb-lg-0">
    <button (click)="transposeUp()" class="btn btn-outline-dark">
      <i class="fas fa-arrow-up mr-1"></i>Up
    </button><button (click)="transposeDown()" class="btn btn-outline-dark">
      <i class="fas fa-arrow-down mr-1"></i>Down
    </button>
    <button (click)="edit = edit ? false : true;" class="btn btn-outline-dark ml-auto" [ngClass]="{'active': edit}">
      <i class="fas fa-pen mr-1"></i>Edit
    </button>
  </div>

  <div [hidden]="!showSpinner" class="text-center mt-2">
    <i class="display-4 fas fa-spinner fa-spin"></i>
  </div>
  <div *ngFor="let paperId of paperIds" id="{{ paperId }}" [class.invisible]="showSpinner">
    {{ paperId }}
  </div>
</div>